
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box; /* fixed typo: 'border' is not a valid value */
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo {
    height: 50px;
    width: 113px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent; /* fixes jumping */
}

.border:hover {
    border: 1px solid white;
}

.del {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 16px;
}

.location {
    color: white;
    font-size: 1rem;
    margin-left: 4px;
}

.addicon {
    display: flex;
    align-items: center;
}

.searchbar {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid transparent;
}

.select {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}

.search {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.searchbar:hover {
    border: 2px solid orange;
}

.searchicon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

p span {
    font-size: 0.85rem;
}

#cart {
    font-size:1.5rem;
}
.cart {
    display: flex;
    font-weight:700;
}
.cartfont {
    font-size:14px;
    position: relative;
    top: 10px;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-opps p {
    display:inline;
    margin-left:15px;
}
.panel-opps {
    width:80%;
    font-size: 0.85rem;
    font-weight: 700;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:350px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

.heromsg {
    color: black;
    background-color:white;
    height:40px;
    display:flex;
    align-items: center;
    font-size:0.85rem;
    font-weight: 700;
    width:80%;
    justify-content: center;
    margin-bottom: 25px;
}

.a1 {
    text-decoration: none;
    color:#007185;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top:20px;
}
.shopsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#e2e7e6;
}

.boximage {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 15px;
}

.boxcon {
    margin-left: 15px;
    margin-right: 15px;
}

.boxcon p {
    color: #007185;
}

footer {
    margin-top:15px;
}
.foot1 {
    background-color: #37475a;
    color: white;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:0.85rem;
}

.foot2 {
    background-color: #222f3d;
    color:white;
    height:300px;
    display:flex;
    justify-content: space-evenly;
}

ul {
    margin-top:25px;
}

ul a {
    display:block;
    font-size:0.85rem;
    margin-top:10px;
    color:#dddddd;
}

.foot3 {
    background-color: #222f3d;
    color:white;
    border-top: 1px solid white; 
    height:70px; 
    display:flex;
    align-items: center;
    justify-content: center;  
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width:100px;
}

.foot4 {
    background-color: #0f1111;
    color: white;
    height: 50px;
    font-size: 0.8rem;
}
.pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10px;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f1111;
}